<%= form_for(@cratepayer) do |f| %>
  <% if @cratepayer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cratepayer.errors.count, "error") %> prohibited this cratepayer from being saved:</h2>

      <ul>
      <% @cratepayer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teammate_id %><br />
    <%= f.number_field :teammate_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
