<h1>Listing cratepayers</h1>

<table>
  <tr>
    <th>Teammate</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cratepayers.each do |cratepayer| %>
  <tr>
    <td><%= cratepayer.teammate_id %></td>
    <td><%= cratepayer.name %></td>
    <td><%= cratepayer.email %></td>
    <td><%= link_to 'Show', cratepayer %></td>
    <td><%= link_to 'Edit', edit_cratepayer_path(cratepayer) %></td>
    <td><%= link_to 'Destroy', cratepayer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cratepayer', new_cratepayer_path %>
