<p id="notice"><%= notice %></p>

<p>
  <b>Teammate:</b>
  <%= @cratepayer.teammate_id %>
</p>

<p>
  <b>Name:</b>
  <%= @cratepayer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @cratepayer.email %>
</p>


<%= link_to 'Edit', edit_cratepayer_path(@cratepayer) %> |
<%= link_to 'Back', cratepayers_path %>
