<h1>Ausstehende Kisten</h1>

<% @pend_crates.each do |crate| %>
<p><b><%= crate.name %> - <%= crate.reason %></b> (<%= crate.date %>, <%= crate.crate_type %>, <%= crate.description %>)
  <% if crate_priveledge? %>
    [<a href="crates/<%= crate.id %>/waspaid">Bezahlt</a>]
  <% end %></p>
<% end %>

<h1>Zuletzt bezahlte Kisten</h1>

<% @paid_crates.each do |crate| %>
<p><b><%= crate.name %> - <%= crate.reason %></b> (<%= crate.paid %>, <%= crate.crate_type %>, <%= crate.description %>)
<% end %>
