<h1>Ausstehende Kisten</h1>

<% @pend_craters.each do |crater| %>
<p><%= crater.name %> [<%= crater.date %>] - <%= crater.reason %> </p>
<% end %>

<h1>Zuletzt bezahlte Kisten</h1>

<% @paid_craters.each do |crater| %>
<p><%= crater.name %> [<%= crater.paid %>] - <%= crater.reason %> </p>
<% end %>

<% if !session[:user_id].nil? %>
   <a href="<%= logout_url %>">Logout</a>
<% else %>
   <a href="<%= login_url %>">Login</a>
<% end %>
