<h1>Ausstehende Kisten</h1>

<% @pend_craters.each do |crater| %>
<p><%= crater.name %> [<%= crater.date %>] - <%= crater.reason %> </p>
<% end %>

<h1>Zuletzt bezahlte Kisten</h1>

<% @paid_craters.each do |crater| %>
<p><%= crater.name %> [<%= crater.paid %>] - <%= crater.reason %> </p>
<% end %>
