<h1>Ausstehende Kisten</h1>

<% @pend_crates.each do |crate| %>
<p><b><%= crate.name %></b> [<%= crate.date %>] - <%= crate.reason %>
  <% if crate_priveledge? %>
    [<a href="crates/<%= crate.id %>/waspaid">Bezahlt</a>]
  <% end %></p>
<% end %>

<h1>Zuletzt bezahlte Kisten</h1>

<% @paid_crates.each do |crate| %>
<p><b><%= crate.name %></b> [<%= crate.paid %>] - <%= crate.reason %> </p>
<% end %>
