<h1><%= t('.remaining_crates') %></h1>

<% @pend_crates.each do |crate| %>
<p><b><%= crate.name %> - <%= crate.reason %></b> (<%= crate.date %>, <%= crate.crate_type %>, <%= crate.description %>)
  <% if crate_priveledge? %>
    [<%= link_to t('.paid'), waspaid_crate_path(crate) %>]
  <% end %></p>
<% end %>

<h1><%= t('.last_paid_crates') %></h1>

<% @paid_crates.each do |crate| %>
<p><b><%= crate.name %> - <%= crate.reason %></b> (<%= crate.paid %>, <%= crate.crate_type %>, <%= crate.description %>)
<% end %>
