<h1>Listing crate_priorities</h1>

<table>
  <tr>
    <th>Priority</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crate_priorities.each do |crate_priority| %>
  <tr>
    <td><%= crate_priority.priority %></td>
    <td><%= crate_priority.description %></td>
    <td><%= link_to 'Show', crate_priority %></td>
    <td><%= link_to 'Edit', edit_crate_priority_path(crate_priority) %></td>
    <td><%= link_to 'Destroy', crate_priority, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crate priority', new_crate_priority_path %>
