<%= form_for(@crate) do |f| %>
  <% if @crate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crate.errors.count, "error") %> prohibited this crate from being saved:</h2>

      <ul>
      <% @crate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Wer' %><br />
    <%= f.select :cratepayer_id, @payers %>
  </div>
  <div class="field">
    <%= f.label 'Warum' %><br />
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label 'Wann' %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
