<h1>Listing crates</h1>

<table>
  <tr>
    <th>Cratepayer</th>
    <th>Reason</th>
    <th>Date</th>
    <th>Paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crates.each do |crate| %>
  <tr>
    <td><%= crate.cratepayer.name %></td>
    <td><%= crate.reason %></td>
    <td><%= crate.date %></td>
    <td><%= crate.paid %></td>
    <td><%= link_to 'Show', crate %></td>
    <td><%= link_to 'Edit', edit_crate_path(crate) %></td>
    <td><%= link_to 'Destroy', crate, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Paid', "crates/#{crate.id}/waspaid" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crate', new_crate_path %>
