<p id="notice"><%= notice %></p>

<p>
  <b>Cratepayer:</b>
  <%= @crate.cratepayer_id %>
</p>

<p>
  <b>Reason:</b>
  <%= @crate.reason %>
</p>

<p>
  <b>Date:</b>
  <%= @crate.date %>
</p>

<p>
  <b>Paid:</b>
  <%= @crate.paid %>
</p>


<%= link_to 'Edit', edit_crate_path(@crate) %> |
<%= link_to 'Back', crates_path %>
