<h1>Kiste Wurde Gezahlt</h1>

<%= form_for(@crater) do |f| %>
  <% if @crater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crater.errors.count, "error") %> prohibited this crater from being saved:</h2>

      <ul>
      <% @crater.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Wessen: ' %><%= @crater.craterpayer.name %>
  </div>

  <div class="field">
    <%= f.label 'Warum: ' %><%= @crater.reason %>
  </div>

  <div class="field">
    <%= f.label 'Wann: ' %><%= @crater.date %>
  </div>

  <div class="field">
    <%= f.label 'Wann Bezahlt' %><br />
    <%= f.date_select :paid %>
  </div>

  <div class="actions">
    <%= f.submit 'Gezahlt' %>
  </div>
<% end %>

