<h1><%= t('.change_password') %></h1>

<%= form_for(@teammate, :url => 'changepassword' ) do |f| %>

  <% if @teammate.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :count => @teammate.errors.count, :model => t('.the_password')) %></h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @teammate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if @teammate.hashed_password.nil? == false %>
    <div class="field">
      <%= f.label :password, t('.current_password') %> <br>
      <%= f.password_field :password %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password_new, t('.new_password') %><br>
    <%= f.password_field :password_new %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('.confirm_new_password') %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
