<h1>Password</h1>

<%= form_for(@teammate, :url => 'changepassword' ) do |f| %>

  <% if @teammate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teammate.errors.count, "error") %> prohibited this teammate from being saved:</h2>

      <ul>
      <% @teammate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if @teammate.hashed_password.nil? == false %>
    <div class="field">
      <%= f.label 'Aktuelles Password' %><br>
      <%= f.password_field :password %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Neues Password' %><br>
    <%= f.password_field :password_new %>
  </div>

  <div class="field">
    <%= f.label 'Neues Password Bestaetigen' %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
