<h1>Mannschaft</h1>

<table>
  <tr>
    <th>ID</th>
    <th>&nbsp;</th>
    <th>Nachname</th>
    <th>Vorname</th>
    <th>Geburtsdatum</th>
    <th>Adresse</th>
    <th>PLZ</th>
    <th>Stadt</th>
    <th>Telefon</th>
    <th>Handy</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @teammates.each do |teammate| %>
<%  classname=cycle('oddrow', 'evenrow') %>
  <tr class="<%=classname %>" >
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.cratepayer.name %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'">&nbsp;</td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.lastname %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.firstname %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.dob %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.address %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.zip %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.city %></td>
    <td><%= call_to(teammate.phone) %></td>
    <td><%= call_to(teammate.cell) %></td>
    <td><%= mail_to teammate.cratepayer.email %></td>
    <td><%= link_to image_tag("vcard_16x16.png",  :border=>0), teammate %> 
        <%= link_to image_tag("delete_16x16.png", :border=>0), teammate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teammate', new_teammate_path %>
