<h1><%= t('team') %></h1>

<table>
  <tr>
    <th><%= t('ID') %></th>
    <th>&nbsp;</th>
    <th><%= t('lastname') %></th>
    <th><%= t('firstname') %></th>
    <th><%= t('birthday') %></th>
    <th><%= t('address') %></th>
    <th><%= t('ZIP') %></th>
    <th><%= t('city') %></th>
    <th><%= t('phone') %></th>
    <th><%= t('cell') %></th>
    <th><%= t('email') %></th>
    <th></th>
  </tr>

<% @teammates.each do |teammate| %>
<%  classname=cycle('oddrow', 'evenrow') %>
  <tr class="<%=classname %>" >
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.cratepayer.name %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'">&nbsp;</td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.lastname %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.firstname %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.dob %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.address %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.zip %></td>
    <td style="cursor:pointer" onclick="document.location.href='<%= teammate_path(teammate) %>'"><%= teammate.city %></td>
    <td><%= call_to(teammate.phone) %></td>
    <td><%= call_to(teammate.cell) %></td>
    <td><%= mail_to teammate.cratepayer.email %></td>
    <td><%= link_to image_tag("vcard_16x16.png",  :border=>0), teammate_path(teammate) + '.vcf' %>
<% if admin_priveledge? %>
        <%= link_to image_tag("delete_16x16.png", :border=>0), teammate, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if admin_priveledge? %>
<%= link_to t('.new_teammate'), new_teammate_path %>
<% end %>
