<p id="notice"><%= notice %></p>

<p>
  <b>Teammate:</b>
  <%= @craterpayer.teammate_id %>
</p>

<p>
  <b>Name:</b>
  <%= @craterpayer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @craterpayer.email %>
</p>


<%= link_to 'Edit', edit_craterpayer_path(@craterpayer) %> |
<%= link_to 'Back', craterpayers_path %>
