<!DOCTYPE html>
<html>
<head>
  <title>Kistentracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <a href="/">Home</a> | 
    <% if crate_priveledge? %>
    <a href="<%= new_crate_url %>">Neue Kiste</a> | 
    <% end %>
    <% if logged_in? %>
    <a href="<%= teammates_url %>">Mannschaft</a> | 
    <a href="<%= logout_url %>">Logout (<%= user_name %>)</a>
    <% else %>
    <a href="<%= login_url %>">Login</a>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
