<!DOCTYPE html>
<html>
<head>
  <title>Kistentracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <a href="/"><%= t('.home') %></a> | 
    <% if crate_priveledge? %>
    <a href="<%= new_crate_url %>"><%= t('.new_crate') %></a> | 
    <% end %>
    <% if logged_in? %>
    <a href="<%= teammates_url %>"><%= t('.team') %></a> | 
    <a href="<%= teammate_path(session[:user_id]) %>"><%= t('.account') %></a> |
    <a href="<%= logout_url %>"><%= t('.logout') + " (#{user_name})" %></a>
    <% else %>
    <a href="<%= login_url %>"><%= t('.login') %></a>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
